body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: #fff;
    padding: 10px; /* Añadir padding para que no se corten los elementos en móviles */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
}

h1 {
    color: #fff;
    padding: 1em;
}

.input-container {
    display: flex;
    gap: 5px; /* Reducir el espacio entre los cuadros para que quepan mejor en pantallas pequeñas */
    margin-bottom: 20px;
    flex-wrap: wrap; /* Permitir que los cuadros se ajusten a múltiples líneas si es necesario */
    justify-content: center; /* Centrar los cuadros dentro del contenedor */
}

input[type="text"] {
    width: 10vw; /* Utilizar unidades relativas a la anchura de la ventana */
    max-width: 50px; /* Establecer un ancho máximo para evitar que sean demasiado grandes en pantallas grandes */
    height: 10vw; /* Utilizar unidades relativas a la altura de la ventana */
    max-height: 50px; /* Establecer una altura máxima para evitar que sean demasiado grandes en pantallas grandes */
    text-align: center;
    font-size: 1em; /* Aumentar el tamaño de la fuente */
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
    padding: 0; /* Eliminar el padding interno */
    margin: 0; /* Eliminar el margen interno */
}

.hint {
    margin-top: 20px;
    color: #ff0000;
}

.correct {
    background-color: green;
    color: white;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
}

.present {
    background-color: yellow;
    color: black;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
}

.absent {
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
}

.color-info {
    text-align: center; /* Centrar la información de color */
}

.color-info p {
    margin: 5px 0;
}

#validate-btn {
    background-color: #007BFF;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.1s;
}

#validate-btn:active {
    transform: scale(0.95);
}


